<nav class="breadcrumb  has-arrow-separator container has-text-dark is-size-7" style="margin:1rem auto; padding:1rem; background:rgba(245, 245, 245,.8);" aria-label="breadcrumbs">
    <ul id="breadcrumb-list">

      {% if page == 'dashboard' %}
      <li><a class="" href="{% url 'dashboard' %}">
         Dashboard
        </a></li>
      {% elif page == 'applications' %}
      <li><a class=""  href="{% url 'dashboard' %}">Dashboard</a></li>
      <li><a  class=""  href="{% url 'applications' %}">Admissions</a></li>
      {% elif page == 'application-detail' %}
      <li><a class=""  href="{% url 'dashboard' %}">Dashboard</a></li>
      <li><a  class=""  href="{% url 'applications' %}">Admissions</a></li>
      <li><a class=" is-active"  href="{% url 'application-detail' application.id %}">Application ID: {{application.id}}</a></li> 
      {% endif %}
    </ul>
  </nav>

 