<nav class="panel  mb-1 is-fixed-top"  style="position:fixed;top:0;width:100%;z-index:100;">
    <div class="panel-heading is-flex is-justify-content-space-between  " style="background-color: rgb(255, 255, 255);">
      <div class="" >
         <span class="pr-3 has-text-weight-semibold" style="color:#104072"> MBA Submissions </span>
         <span class="has-text-weight-normal " style="color:#104072">  Portal</span>  </div>
      <div>
        <span class="is-size-6 has-text-weight-normal mr-5 " style="color:#104072;">Hi, {{user.email}}</span>
        <a href="{% url 'logout' %}" class="button  is-small has-text-weight-normal" >sign out</a>
      </div>
    </div>
  </nav>