{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles\main.css' %}"
    />
    <link rel="stylesheet" href="{% static 'styles\dashboard.css'  %}"/>
    <title>MBA Submission - SINU</title>
  </head>
  <body>

    
    
    <div
    style=" background: #1b647e4d;background: rgba(22, 74, 95, 0.702);height:100vh"
    class="wrapper is-align-items-center"
    >
      {% if user.is_authenticated %}
      {% include 'user_navbar.html' %}
      {% endif %}
      
      {% block dashboardcontent %}
      {% endblock %}
      {% include 'footer.html' %}

    </div>

    <!-- Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
