<h1>This is for submission</h1>

{% if is_submitted %}

<h6>Thank you for submitting! </h6>

{% else %}
<form method="post">
    {%csrf_token %}
    <button type="submit">submit</button>
</form>
<form method="post"> 
    {%csrf_token %}
    {{application_form.as_p}}
    {% for form in document_formset %}
            <div class="document-formset">
                {{ form.as_p }}
            </div>
    {% endfor %}
    <button type="button" id="add-document-formset">Add Another Document</button>
    <button type="submit">Submit</button>
</form>

{% endif %}


<script>
    $(document).ready(function() {
        var formCount = {{ document_formset.total_form_count }};
        $('#add-document-formset').click(function() {
            var newForm = $('.document-formset:last').clone(true);
            newForm.find(':input').each(function() {
                var name = $(this).attr('name').replace('-' + (formCount - 1) + '-', '-' + formCount + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            formCount++;
            $('.document-formset:last').after(newForm);
        });
    });
</script>