<div
  style="height: 100%"
  class="is-flex is-flex-direction-column is-justify-content-space-between p-5"
>
  <div>
    <p class="title" style="color: #fff">SINU Admissions</p>
    <p class="subtitle pt-5 has-text-white is-size-5 has-text-weight-normal" style="margin-bottom:10px">
      Apply for your
      <span class="has-text-weight-semibold "
        ></span
      >
      program today!
    </p>
    <hr />
  </div>

  <div class="p-3">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player
      src="https://assets3.lottiefiles.com/packages/lf20_rli35wrb.json"
      background="transparent"
      speed="1"
      style="max-width: 600px; height: 300px"
      autoplay
    ></lottie-player>
  </div>

  <div>
    <hr />
    <p class="p-4 has-text-white" style="background: #0e7093">
      Insert your personal details, upload your documents, write a proposal, and
      submit your application.
    </p>
  </div>
</div>
