<style>
    .wrapper {
        padding: 20px;
        max-width: 700px;
        text-align: center;
        color: #104072;
    }
    .header {
        color: white;
        font-size: larger;
        padding: 20px;
        background: #1b708f;
    }
    p {
        text-align: left;
    }
    .content {
        padding: 10px;
        text-align: center;
    }
    .content h4 {
        text-align: left;
        font-weight: lighter;
    }
    .name {
        font-weight: bold; 
    }

    .note {
        font-style: italic;
    }

    .footer {
        text-align: left;
    }

</style>
<body>
    <div class="wrapper">
        <div class="header">Submission Confirmation</div> 
        
        <div class="content">
            <h4>
                Hello,  <span class="name">{{application.full_name}}</span>  <br>
            </h4>
            <p>
              Thank you for registering your interest in the <span style="font-weight:bold" >Master of Business Administration (MBA)</span> qualification. The Student Administration Services (SAS) team will
              assess your application and give you feedback.
            </p>

            <p class="note">
               <span style="font-weight:bold"> Note:</span> <br>
                If you have any queries, send an email to <span style="text-decoration:underline">admissions@sinu.edu.sb</span> .
            </p>

            <div class="footer">
                <span style="font-weight:bold">Thank you,</span> <br>
                Student Administration Services (SAS) <br>
                Solomon Islands National University
            </div>

        </div>

        
       

    </div>
</body>