
<style>
    .wrapper {
        padding: 20px;
        max-width: 700px;
        text-align: center;
        color: #104072;
    }
    .header {
        color: white;
        font-size: larger;
        padding: 20px;
        background: #209cac;
    }
    p {
        text-align: left;
    }
    .content {
        padding: 10px;
        text-align: center;
    }
    .content h4 {
        text-align: left;
        font-weight: lighter;
    }
    .name {
        font-weight: bold;
        font-size: large;
    }

    .note {
        font-style: italic;
    }

    .footer {
        text-align: left;
    }
    .instructions {
        text-align: left;
    }
    .link {
        background: #104072;
        margin: 10px;
        padding: 20px;
    }

    .link a {
        color: white;
        text-transform: uppercase;
        text-decoration: underline;
    }
</style>

    <div style="padding:10px">
    <div class="wrapper" style="padding: 20px;
    max-width: 700px;
    text-align: center;
    color: #104072;">
        <div  style="color: white;
        font-size: larger;
        padding: 20px;
        background: #209cac;">Congratulations! </div> 
        
        <div class="content" style="padding: 10px;
        text-align: center;">
            <h4 style="text-align:left">
                Hello,  <span class="name">{{application.full_name}}</span>  <br>
            </h4>
            <p style="text-align:left">
              You have been awarded a Letter of Offer to do the <span style="font-weight:bold" >Master of Business Administration (MBA)</span> qualification.
              Attached in this email is your Letter of Offer and Invoice. Follow the instructions below on how to proceed:
            </p>

            <p  style="text-align:left">
                <span style="font-weight:bold"> Instructions:</span> <br>
                <ol style="text-align:left">
                    <li>Make a deposit into the Solomon Islands National University's BSP account <br> 
                        <span style="font-weight:bold">
                            BSP Account Number: 434534434
                        </span> 
                    </li> 
                    <li>Scan, and upload your reciept on the link provided below. <br> 
                    <span style="font-style:italic">note: If you have other payment arrangements, provide an explanation in the link. </span>
                         
                    </li>
                </ol>
                
             </p>

             <div class="link">
                <a style="color: white;
                background:#205dac;
                display:block;
                padding: 20px;
                max-width: 600px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: underline;" href="{{upload_url}}">Upload My Reciept</a>
             </div>

             <br>
            <p style="text-align:left">
               <span style="font-weight:bold"> Notes:</span>  <br><br>
               The link above will expire after <span>7 days</span>. If you have not uploaded your receipt by then, send an
               email to <span style="text-decoration:underline">admissions@sinu.edu.sb</span> with the subject <span>RESET RECEIPT LINK</span> and 
               they will resend you the link.
               <br> <br>
                If you have any queries, send an email to <span style="text-decoration:underline">admissions@sinu.edu.sb</span> .
            </p>
            <br>

            <div class="footer">
                <span style="font-weight:bold">Thank you,</span> <br>
                Student Administration Services (SAS) <br>
                Solomon Islands National University
            </div>

        </div>

        
       

    </div>

</div>
