<form 
method="post" 
enctype="multipart/form-data"
class=" m-1 has-text-dark mb-1"
style=" background:#003163;background:#fdfdfd;border-bottom:1px solid transparent"
>
{% csrf_token %}



{{ document_formset.management_form }}


{% include 'mbasubmission/right-section/application_details.html' %}


<!-- Submit button -->



<div class="columns is-centered p-4">
    <div class="column is-full" >
      <div class="buttons is-right" >
        <button id="submit-form" class="button is-size-6 is-rounded">Submit My Application</button>
      </div>
    </div>
  </div>
  
   
  

</form>