{% extends 'base_generic.html' %}
{% load static %}

{% block content %}


  {% if is_submitted %}

    <div class="m-1 p-5 mb-1 " style=" border-bottom:1px solid transparent;height:100%;">
      <h6 class="is-size-3 has-text-white mb-4">You successfully submitted your application! </h6>
      <p class="has-text-white mb-5">Please check your email to confirm your submission.</p>
      <a class="button is-small" href="{% url 'submission-form' %}">Back to form</a>
      <a class="button is-small">Back to website</a>
    </div>
      
      
  {% else %}


  <section class="hero">
    <div class="hero-body">
      <div class="columns" style="min-height: 671px;">
        <!-- Left Section START -->
        <section class="column p-0" style="background: rgba(62, 36, 36, 0.5);background: rgba(27, 100, 126, .95);">
          {% include 'mbasubmission/leftsection/left.html' %}
        </section>
        <!-- Left Section END -->
        <!-- Right Section START -->
        <section class="column" style="background: rgba(62, 36, 36, 0.5);background: #1b647ecc;">
          {% include 'mbasubmission/right-section/form.html'%}
        </section>
        <!-- Right Section END -->
      </div>
    </div>
  </section>

   

  {% endif %}




{% endblock %}





