{% extends 'base_generic.html' %}

{% block content %}

{% include 'admission/application/selected_qualification.html' %}

    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>



<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">Application Saved</div>
    <p class="m-3 is-size-6 p-2" style="color:rgba(0, 0, 0,.6)">
        
        Your application has been saved but not submitted to us. You will need to return, complete it and submit the application. <br><br>

        Please ensure you submit your application by the application closing dates. <br><br>

        You are currently on section 
        
        <span style="color:#100; margin-left:10px;text-decoration:underline">
        {% if application.current_section == 'personal_details' %}
        Personal Details
        {% elif application.current_section == 'sponsor_details' %}
        Sponsor Details
        {% elif application.current_section == 'education_background' %}
        Education Background
        {% elif application.current_section == 'employment_history' %}
        Employment History
        {% elif application.current_section == 'declaration' %}
        Declaration
        {% endif %}
        </span>.
        
        
        <br/><br/>

        If you wish you can <a href="{{application.get_absolute_url}}">return to your application now.</a> 

    </p>

</div>


{% endblock %}