{% extends 'base_generic.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link
      rel="stylesheet"
      href="{% static 'admission\styles\application.css' %}"
/>
{% endblock %}

{% block content %}

  {% include 'admission/application/progress_bar.html' %}
  {% include 'admission/application/selected_qualification.html' %}


  {% comment %} <section id="application-section">
    
    <div class="container application-container">

        <div class="form-header  p-3 ">
            <span class="is-size-5 has-text-white">Application Form</span>
            <button class="button has-text-white" >
                <i class="fa-solid fa-circle-question mr-2"></i>
                Get Help
            </button>
        </div>

        
        <form id="application-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input id="application-id" type="text" value={{application.id}} hidden/>

            <div id="changeable-content" class="changeable-content">
                
                {% if application.edit_section == 'personal_details' %}
                
                    {% include 'admission/application/sections/personal_details/pd-base.html' %}
                
                {% elif application.edit_section == 'sponsor_details' %}

                    {% include 'admission/application/sections/sponsor_details/sd-base.html' %}

                {% elif application.edit_section == 'education_background' %}

                    {% include 'admission/application/sections/education_background/eb-base.html' %}

                {% elif application.edit_section == 'employment_history' %}

                    {% include 'admission/application/sections/employment_history/eh-base.html' %}

                {% elif application.edit_section == 'declaration' %}

                    {% include 'admission/application/sections/declaration/d-base.html' %}

                {% endif %}
               
            </div>

            <div id="save-spinner" class="hide-save-spinner">
                <div id="lottieContainer">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_rwq6ciql.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                </div>
            </div>

        </form> 


        

    </div>


  
    

  </section> {% endcomment %}

  
  <script src="{% static 'admission/js/add-remove-container-item.js' %}"></script>
  <script src="{% static 'admission/js/submit-event-listener.js' %}"></script>
  

{% endblock %}