{% extends  'base_generic.html' %}
{% load static %}

{% block content %}

  {% block progressbar %}
  {% endblock progressbar %}

  {% block selected_qualification %}
  {% endblock selected_qualification %}

  <div class="container mt-5">
  

    {% include 'admission/help/help-modal.html' %}
    {% include 'admission/application/application-form-header.html' %}

    <form method="post">
      {% csrf_token %}
      {% block section %}
      {% endblock section %}
    </form>
    
  </div>

{% endblock content %}


{% comment %} <div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>

<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165"> User Details</div>

    <form  method="post">

      <input type="text" hidden name="course_code" value="{{course_detail.code}}">
      {% csrf_token %}

      <div class="mt-3 mr-3 ml-3 p-3 mb-0" style="background:#fff;border:1px solid rgba(0, 0, 0,.2); border-top-left-radius:5px;border-top-right-radius:5px">
          
          <div class="columns">
              <div class="column is-three-fifths">
                  
                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">First name</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="first_name" class="input" type="text" placeholder="" required>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Middle name(s)</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="middle_name" class="input" type="text" placeholder="" >
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Surname</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="last_name" class="input" type="text" placeholder="" required>
                          </div>
                        </div>
                      </div>
                  </div>

                  
                  <div class="field is-horizontal ">
                      <div class="field-label is-normal">
                          <label class="label">Gender</label>
                      </div>
                      <div class="field-body">
                          <div class="field">
                          <div class="control">
                              <div class="select is-fullwidth">
                              <select name="gender">
                                  <option selected>Please select</option>
                                  <option>Male</option>
                                  <option>Female</option>
                              </select>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                  
                
                  <div class="columns">
                      <div class="column">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Date of Birth</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <p class="control">
                                <input id="datepicker" name="date_of_birth" class="input" type="text" placeholder="YYYY-MM-DD">
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    

              </div>
          </div>
        
          
          <div style="background:#fff;border:1px solid rgba(0, 0, 0,.2)">
              <div class=" p-3 " style="background: #f0f0f0;"> Login Details</div>
              
                
          <div class="columns m-1">
              <div class="column is-three-fifths">
                  
                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Email</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input" name="email" type="email" placeholder="">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Confirm Email</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input" name="confirm_email" type="email" placeholder="">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Password</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input" name="password" type="password" placeholder="">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Confirm Password</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input class="input" name="confirm_password" type="password" placeholder="">
                          </div>
                        </div>
                      </div>
                     
                  </div>

                 

              </div>
          </div>

          </div>

      </div>


      <input name="course_code" type="text" value="{{course_details.code}}" hidden>


      <div class="has-background-light mb-3 mr-3 ml-3 mt-0 p-3 is-flex is-justify-content-center " style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
          <div class="field is-grouped ">

              <p class="control">
                  <button class="button">
                    Cancel
                  </button>
                </p>
              <p class="control">         
                  <input type="submit" class="button is-link" value="Save and Continue">
              </p>
            </div>
      </div>

  </form>
</div>  {% endcomment %}



  

  {% comment %} <main class="container  pb-1 mt-5" >
    
    {% include 'admission/application/application-form-header.html' %}
  
    <form  method="post">

      <input type="text" hidden name="course_code" value="{{course_detail.code}}">
      {% csrf_token %}

      {% block section %}
      {% endblock section %}
      
    </form>

  </main> {% endcomment %}