{% load static %}

<link
      rel="stylesheet"
      href="{% static 'admission\styles\selected_qualification.css' %}"
/>

<section class="selected-qualification-box">
        
    <div class="container">

        <h3 class="selected-qualification-header p-3 has-text-white " >
            Selected Qualification
        </h3>

        <div class="selected-qualification-content columns is-gapless has-background-white p-3 pb-5" >
            <div class="column is-three-fifths ">
                <h6 class="title" >Qualification</h6>
                <p>{{application.selected_course}}</p>
            </div>
            <div class="column ">
                <h6  class="title " >Year</h6>
                <p>2024</p>
            </div>
            <div class="column">
                <h6  class="title "  >Start Date</h6>
                <p>01/01/2024</p>
            </div>
            
        </div>
       
    </div>
    
</section>