{% load static %}

<link rel="stylesheet" href="{% static 'admission\styles\selected_qualification.css' %}"/>

<section class="container mt-5">

    <div class="p-3 has-text-white is-size-6" style="background:#004b8d;border-top-left-radius:5px;border-top-right-radius:5px">
      Selected Course
    </div>

    <div class="columns m-0 has-background-light selected-qualification-content" >
      <div class="column is-three-fifths">
        <p class="has-text-weight-semibold pt-1 pb-3">Course Name</p>
        <p>{{course_details.title}}</p>
      </div>
      
      <div class="column is-one-fifth">
        <p class="has-text-weight-semibold pt-1 pb-3">Code</p>
        <p>{{course_details.code}}</p>
      </div>
      
      <div class="column">
        <p class="has-text-weight-semibold pt-1 pb-3">Location</p>
        <p>
            {% if course_details.campus %}
                {{course_details.campus}}
            {%else%}
                <span>unspecified</span>
            {%endif%}
        </p>
      </div>
    </div>

  </section>
 