{% extends 'base_generic.html' %}

{% block content %}

<div style="background:white">
    <div class="container is-flex is-justify-content-center is-align-items-center " style="background:rgba(255, 255, 255,1);padding-top:1.5rem;padding-bottom:3rem">
    
        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#127594"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Personal Details
            </p>
        </div>

        <div style="width:400px;height:5px;background:#127594 "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#127594"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Sponsor Details
            </p>
        </div>
        
        
    
      
        <div style="width:400px;height:5px;background:#9fd8ea "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Education Background
            </p>
        </div>


        <div style="width:400px;height:5px;background:#9fd8ea "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Employment History
            </p>
        </div>
    
        
        <div style="width:400px;height:5px;background:#9fd8ea "></div>
    
        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Declaration
            </p>
        </div>
    </div>

</div>




<div class=" container mt-3">
    <div class="p-3 has-text-white is-size-6" style="background:#0e5165;border-top-left-radius:5px;border-top-right-radius:5px">Selected Qualification</div>
    <div class="columns m-0 has-background-light has-text-weight-semibold" style="border-bottom:1px solid rgba(0, 0, 0,0.2)">
        <div class="column is-three-fifths ">
            <div>Qualification</div>
        </div>
        <div class="column">Year</div>
        <div class="column">Start Date</div>
    </div>
    <div class="columns m-0 has-background-light">
        <div class="column is-three-fifths ">
            <div>Bachelor of Nursing - Acute Care Nursing - HBNA</div>
        </div>
        <div class="column">2024</div>
        <div class="column">01/01/2024</div>
    </div>
</div>
    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>



<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">Application Saved</div>
    <p class="m-3 is-size-6 p-2" style="color:rgba(0, 0, 0,.6)">
        

        Your application has been saved but not submitted to us. You will need to return, complete it and submit the application. <br><br>

        Please ensure you submit your application by the application closing dates. <br><br>

        We have sent an email to you at student@test.com with the details you have supplied so far and information about how to complete your application.
        <br><br>
        If you wish you can <a href="">return to your application now.</a> 

    </p>
    


    


</div>


{% endblock %}