{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

<link
      rel="stylesheet"
      href="{% static 'mbasubmission\styles\application.css' %}"
/>


  {% include 'application/progress_bar.html' %}

  {% include 'application/selected_qualification.html' %}


  <section id="application-section">
    
    <div class="container application-container">

        <div class="form-header  p-3 ">
            <span class="is-size-5 has-text-white">Application Form</span>
            <button class="button has-text-white" >
                <i class="fa-solid fa-circle-question mr-2"></i>
                Get Help
            </button>
        </div>

        
        <form id="application-form" method="post">
            {% csrf_token %}

            <div id="changeable-content" class="changeable-content">
                
                <!-- SECTION start-->
                {% if application.edit_section == 'personal_details' %}
                
                    {% include 'application/sections/personal-details.html' %}
                
                {% elif application.edit_section == 'sponsor_details' %}

                    {% include 'application/sections/sponsor-details.html' %}

                {% elif application.edit_section == 'education_background' %}

                    {% include 'application/sections/education-background.html' %}

                {% elif application.edit_section == 'employment_history' %}

                    {% include 'application/sections/employment-history.html' %}

                {% elif application.edit_section == 'declaration' %}

                    {% include 'application/sections/declaration.html' %}

                {% endif %}
                <!-- SECTION end-->

            </div>

            <div id="save-spinner" class="hide-save-spinner">
                <div id="lottieContainer">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_rwq6ciql.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                </div>
            </div>

        </form> 


        

    </div>


  
    

  </section>
    


{% endblock %}