{% extends  'base_generic.html' %}
    
{% block content %}

  <!-- Include Flatpickr CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class=" container mt-3">
    <div class="p-3 has-text-white is-size-6" style="background:#0e5165;border-top-left-radius:5px;border-top-right-radius:5px">Selected Course</div>
    <div class="columns m-0 has-background-light has-text-weight-semibold" style="border-bottom:1px solid rgba(0, 0, 0,0.2)">
        <div class="column is-three-fifths ">
            <div>Course Name</div>
        </div>
        <div class="column">Code</div>
        <div class="column">Location</div>
    </div>
    <div class="columns m-0 has-background-light">
        <div class="column is-three-fifths ">
            <div>{{course.title}} </div>
        </div>
        <div class="column">{{course.code}}</div>
        <div class="column">
          {% if course.campus %}
          {{course.campus}}
          {%else%}
          unspecified
          {%endif%}
        </div>
    </div>
</div>

<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>

<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">New User Details</div>
    <p class="m-3 is-size-7" style="color:rgba(0, 0, 0,.6)">
        If you have previously applied to study with us, you will have login details and do not need to complete this form. Please log into your SINU Portal. <br> If you need help with your login details, please contact us.
        <br><br> Please enter your details below. Items marked with * are compulsory. 
    </p>
    <div class="mt-3 mr-3 ml-3 p-3 mb-0" style="background:#fff;border:1px solid rgba(0, 0, 0,.2); border-top-left-radius:5px;border-top-right-radius:5px">
        
        <div class="columns">
            <div class="column is-three-fifths">
                
                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">First name</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Middle name(s)</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Surname</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                
                <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                        <label class="label">Gender</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                            <select>
                                <option selected>Please select</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                 
               
                <div class="columns">
                    <div class="column">
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Date of Birth</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <p class="control">
                              <input id="datepicker" class="input" type="text" placeholder="YYYY-MM-DD">
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  

            </div>
        </div>
       
        
        <div style="background:#fff;border:1px solid rgba(0, 0, 0,.2)">
            <div class=" p-3 " style="background: #f0f0f0;"> Login Details</div>
            
              
        <div class="columns m-1">
            <div class="column is-three-fifths">
                
                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="email" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Confirm Email</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="email" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Password</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="password" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Confirm Password</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="password" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>

        </div>

    </div>


    <div class="has-background-light mb-3 mr-3 ml-3 mt-0 p-3 is-flex is-justify-content-center " style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
        <div class="field is-grouped ">

            <p class="control">
                <button class="button">
                  Cancel
                </button>
              </p>
            <p class="control">
              <a href="{% url 'personal-details' %}" class="button is-link">
                Save and Continue
              </a>
            </p>
           
            
          </div>
    </div>


</div>

<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    console.log('hello')
        flatpickr('#datepicker', {
          dateFormat: 'd-m-Y' // Specify the desired date format
        });
 
      
</script>


{% endblock %}