{% extends 'base_generic.html' %}

{% block content %}

<div style="background:white">
    <div class="container is-flex is-justify-content-center is-align-items-center " style="background:rgba(255, 255, 255,1);padding-top:1.5rem;padding-bottom:3rem">
    
        <div style="position: relative;">
            <div class="is-flex is-justify-content-center is-align-items-center" style="width:35px;height:35px;border-radius:50%;background:#127594">
                <i class="fa-solid fa-check" style="color:#fff"></i>
            </div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Personal Details
            </p>
        </div>

        <div style="width:400px;height:5px;background:#127594 "></div>

        <div style="position: relative;">
          <div class="is-flex is-justify-content-center is-align-items-center" style="width:35px;height:35px;border-radius:50%;background:#127594">
              <i class="fa-solid fa-check" style="color:#fff"></i>
          </div>
          <p 
          style="position:absolute;
          background:#fff;
          min-width:150px;
          padding:10px;
          left:50%;
          transform:translateX(-50%);
          font-size:smaller;
          text-align:center"
          
          >
          Sponsor Details
          </p>
      </div>
        
        
    
      
      <div style="width:400px;height:5px;background:#127594 "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Education Background
            </p>
        </div>


        <div style="width:400px;height:5px;background:#9fd8ea "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Employment History
            </p>
        </div>
    
        
        <div style="width:400px;height:5px;background:#9fd8ea "></div>
    
        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Declaration
            </p>
        </div>
    </div>

</div>




<div class=" container mt-3">
    <div class="p-3 has-text-white is-size-6" style="background:#0e5165;border-top-left-radius:5px;border-top-right-radius:5px">Selected Qualification</div>
    <div class="columns m-0 has-background-light has-text-weight-semibold" style="border-bottom:1px solid rgba(0, 0, 0,0.2)">
        <div class="column is-three-fifths ">
            <div>Qualification</div>
        </div>
        <div class="column">Year</div>
        <div class="column">Start Date</div>
    </div>
    <div class="columns m-0 has-background-light">
        <div class="column is-three-fifths ">
            <div>{{application.selected_course.title}}</div>
        </div>
        <div class="column">2024</div>
        <div class="column">01/01/2024</div>
    </div>
</div>
    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>



<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">Education Background </div>
    
    <form method="post">

      {% csrf_token %}
    
      <div class="mt-3 mr-3 ml-3 p-3 mb-0 pb-5" style="background:#fff;border:1px solid rgba(0, 0, 0,.2); border-top-left-radius:5px;border-top-right-radius:5px">
          
        <section>

          <div class="p-3 mb-3" style="border-bottom:1px solid rgba(0, 0, 0, 0.1);background:#f5f5f5;border-top-left-radius:5px;border-top-right-radius:5px;">
            <h2 style="font-weight:bold;"> Secondary and Pre-certificate</h2>
            <p class="mt-1 is-size-7" style="color:rgba(0, 0, 0,.6)">
              NOTE: You must attach Certified Academic Transcript and Certificates for highest Form reached. Current form 5, 6 and 7
              students need to get reference letter from your School's Careers Master and/or Principal. School based semester 1 results
              must be attached.
            </p>
          </div>


          
            
            <div class="columns mt-3 ml-1 mr-1 is-align-items-center pl-2 pr-2" style="border:1px solid rgba(0, 0, 0,.1);border-radius:5px">
              
              <div class="column is-full " style="min-width:120px; max-width:fit-content;">
                <div class="has-text-weight-bold is-size-6" style="text-align: right;">Third Form</div>
              </div>
              
              <div class="column is-one-third">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">School</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input 
                        class="input" 
                        type="text"
                        value="{% if application.third_form_school %}{{application.third_form_school }}{%endif%}"
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column ">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">Year</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Certificate </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Transcript </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
    
    
            <div class="columns mt-3 ml-1 mr-1 is-align-items-center pl-2 pr-2" style="border:1px solid rgba(0, 0, 0,.1);border-radius:5px">
              
              <div class="column is-full " style="min-width:120px; max-width:fit-content; ">
                <div class="has-text-weight-bold is-size-6" style="text-align: right;">Fifth Form</div>
              </div>
              
              <div class="column is-one-third">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">School</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column ">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">Year</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Certificate </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Transcript </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="columns mt-3 ml-1 mr-1 is-align-items-center pl-2 pr-2" style="border:1px solid rgba(0, 0, 0,.1);border-radius:5px">
              
              <div class="column is-full " style="min-width:120px; max-width:fit-content; ">
                <div class="has-text-weight-bold is-size-6" style="text-align: right;">Sixth Form</div>
              </div>
              
              <div class="column is-one-third">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">School</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column ">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">Year</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Certificate </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Transcript </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="columns mt-3 ml-1 mr-1 is-align-items-center pl-2 pr-2" style="border:1px solid rgba(0, 0, 0,.1);border-radius:5px">
              
              <div class="column is-full " style="min-width:120px; max-width:fit-content;">
                <div class="has-text-weight-bold is-size-6 " style="text-align: right;">Foundation</div>
              </div>
              
              <div class="column is-one-third">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">School</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column ">
                <div class="field is-horizontal  ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal">Year</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Certificate </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="column">
                <div class="field is-horizontal ">
                  <div class="field-label is-normal">
                    <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Transcript </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="file has-name is-small">
                            <label class="file-label">
                              <input class="file-input" type="file" name="resume">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                browse 
                                </span>
                              </span>
                              <span class="file-name">
                                ...
                              </span>
                            </label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>

          

        </section>

        <section>

          <div class="p-3 mb-3 mt-5" style="border-bottom:1px solid rgba(0, 0, 0, 0.1);background:#f5f5f5;border-top-left-radius:5px;border-top-right-radius:5px;">
            <h2 style="font-weight:bold;"> Tertiary Studies Qualifications</h2>
            <p class="mt-1 is-size-7" style="color:rgba(0, 0, 0,.6)">
              NOTE: You must attach all Certified Academic Transcript and Certificates for the Tertiary Qualification you attained.
            </p>
          </div>
            
            <div class=" mt-3 ml-1 mr-1  p-4  " style="border:1px solid rgba(0, 0, 0,.1);border-radius:5px">
              
              <div class="columns    is-align-items-center  " >
                
                <div class="column is-one-third">
                  <div class="field   ">
                    <div class="field-label is-normal mb-2" style="text-align:left">
                      <label class="label has-text-weight-normal">Institution</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="column ">
                  <div class="field   ">
                    <div class="field-label is-normal mb-2" style="text-align:left">
                      <label class="label has-text-weight-normal">Course</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column ">
                  <div class="field  ">
                    <div class="field-label is-normal mb-2" style="text-align:left">
                      <label class="label has-text-weight-normal">Years attended</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="column ">
                  <div class="field  ">
                    <div class="field-label is-normal mb-2" style="text-align:left">
                      <label class="label has-text-weight-normal">Major Field of study</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

      
              </div>

              

              <div class="     columns   " style="border-top:1px dotted rgba(0, 0, 0,.05);">
                
                <h2 class="column m-1 is-one-third" style="width:fit-content">
                  Upload files
                </h2>

                <div class="column m-1 is-one-third" style="width:fit-content">
                  <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                      <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Certificate </label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <div class="file has-name is-small">
                              <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                  browse 
                                  </span>
                                </span>
                                <span class="file-name">
                                  ...
                                </span>
                              </label>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>

                <div class="column m-1 is-one-third" style="width:fit-content">
                  <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                      <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Transcript </label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <div class="file has-name is-small">
                              <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                  <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                  </span>
                                  <span class="file-label">
                                  browse 
                                  </span>
                                </span>
                                <span class="file-name">
                                  ...
                                </span>
                              </label>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>

            </div>

            
    
            <button class=" ml-3 button is-light mt-3" style="color:rgba(68, 68, 68,.8);border:1px solid rgba(68, 68, 68,.1)">
              <span style="color:rgba(68, 68, 68,.8)">Add Qualification</span> 
              <i class="ml-3 fa-solid fa-plus"></i>
            </button>
            

        </section>


      </div>

      <div class="has-background-light mb-3 mr-3 ml-3 mt-0 p-3 is-flex is-justify-content-center " style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
          <div class="field is-grouped ">

              <p class="control">
                <input class="button " type="submit" name="save_and_exit" value="Save and Exit">
                </p>
              <p class="control">
                <input class="button is-link" type="submit" name="save_and_next" value="Next">
                
              </p>
            
              
            </div>
      </div>

    </form>


</div>

{% endblock %}