{% extends 'base_generic.html' %}

{% block content %}







<div class="has-background-light ">
    <div class="container is-flex is-justify-content-space-between   p-5 is-align-items-center" style="border-bottom:1px solid rgba(0, 0, 0,.1)">
        <span class="has-text-dark is-size-5">Admissions</span>
        <button class="button has-text-white" style="background: #6da11f;border-radius:5px;border:none">
            <i class="fa-solid fa-circle-question mr-2"></i>
            Get Help
        </button>
    </div>
</div>  




<div class=" has-background-light p-5  " >
    <div class="container pb-1 " style="box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);background:#fff">
   
        <div class="p-3   mb-4 has-text-white" style="background:#127594;border-top-left-radius:5px;border-top-right-radius:5px">My applications</div>
        <div class="is-flex is-justify-content-space-between m-3 is-size-6 p-5" style="color:rgba(0, 0, 0,.6);background:#d6e3eb">
            <div class="has-text-weight-bold">Bachelor of Nursing</div>
            <button class="button" style="background:#d6e3eb">Click to expand/collapse <i class="fa-solid fa-chevron-left ml-3"></i></button>
        </div>
    </div>
</div>



{% endblock %}