{% extends 'base_generic.html' %}

{% block content %}

{% include 'application/progress_bar.html' %}

{% include 'application/selected_qualification.html' %}





    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>



<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">Personal Details</div>
    <p class="m-3 is-size-7" style="color:rgba(0, 0, 0,.6)">
        Please check the following details and make any changes as required.
    </p>


    <form method="post">

      {% csrf_token %}

      <div class="mt-3 mr-3 ml-3 p-3 mb-0" style="background:#fff;border:1px solid rgba(0, 0, 0,.2); border-top-left-radius:5px;border-top-right-radius:5px">
          
          <div class="columns">
              <div class="column is-three-fifths">
                  
                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">First name</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="first_name" class="input" type="text" placeholder="" value="{{application.first_name}}">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Middle name(s)</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="middle_name" class="input" type="text" placeholder="" value="{{application.middle_name}}">
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="field is-horizontal  ">
                      <div class="field-label is-normal">
                        <label class="label">Surname</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control">
                            <input name="last_name" class="input" type="text" placeholder="" value="{{application.last_name}}">
                          </div>
                        </div>
                      </div>
                  </div>

                  
                  <div class="field is-horizontal ">
                      <div class="field-label is-normal">
                          <label class="label">Gender </label>
                      </div>
                      <div class="field-body">
                          <div class="field">
                          <div class="control">
                              <div class="select is-fullwidth">
                              <select name="gender">
                                  <option>Please select</option>
                                  <option {% if application.gender == 'male' %} selected {%endif%}>Male</option>
                                  <option {% if application.gender == 'female' %} selected {%endif%}>Female</option>
                              </select>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                  
                
                  <div class="columns">
                      <div class="column">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Date of Birth </label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <p class="control">
                                <input id="datepicker" name="date_of_birth" class="input" type="text" placeholder="YYYY-MM-DD" value="{{application.date_of_birth|date:"d-m-Y"}}">
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    

              </div>
          </div>
        
          
          

      </div>


      <div class="has-background-light mb-3 mr-3 ml-3 mt-0 p-3 is-flex is-justify-content-center " style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
          <div class="field is-grouped ">

              <p class="control">
                  
                  <input type="submit" name="save_and_exit" class="button" value="Save and Exit">

                </p>
              <p class="control">
                
                  
                  <input  type="submit" name="save_and_next" class="button is-link"  value="Next" >
                    
                
                
              </p>
            
              
            </div>
      </div>

    </form>



</div>

{% endblock %}