{% load static %}

<link
      rel="stylesheet"
      href="{% static 'mbasubmission\styles\progress_bar.css' %}"
/>

<input id="current-section" hidden type="text" value="{{application.current_section}}">



<div class="progress-bar-container ">
    
    <a id="pd-link" href="{% url 'application' application.id %}" class="progress-bar-item">
        <div class="item-wrapper">

            <div 
                id="pd-icon-wrapper" 
                class="progress-icon-wrapper "
                >
                <i class="fa-solid fa-pen-to-square icon-color"></i>
            </div>
            
            <p>Personal Details</p>
        </div>
    </a>

    <progress id="pdsd-progress" class="progress is-marginless progress-line custom-progress " value="0" max="100"></progress>

    <a id="sd-link" href="{% url 'application' application.id %}" class="progress-bar-item">
        <div class="item-wrapper">
            <div id="sd-icon-wrapper" class="progress-icon-wrapper ">
                <i class="fa-solid fa-ban  icon-color "></i>
            </div>
            <p>Sponsor Details</p>
        </div>
    </a>
    
    <progress id="sdeb-progress" class="progress is-marginless progress-line custom-progress " value="0" max="100"></progress>

    <a id="eb-link" href="{% url 'application' application.id %}" class="progress-bar-item">
        <div class="item-wrapper">
            <div id="eb-icon-wrapper" class="progress-icon-wrapper">
                <i class="fa-solid fa-ban  icon-color " ></i>
            </div>
            <p>Education Background</p>
        </div>
    </a>

    <progress id="ebeh-progress" class="progress is-marginless progress-line custom-progress " value="0" max="100"></progress>

    <a id="eh-link" href="{% url 'application' application.id %}" class="progress-bar-item">
        <div class="item-wrapper">
            <div id="eh-icon-wrapper" class="progress-icon-wrapper ">
                <i class="fa-solid fa-ban  icon-color"></i>
            </div>
            <p>Employment History</p>
        </div>
    </a>

    <progress id="ehd-progress" class="progress is-marginless progress-line custom-progress " value="0" max="100"></progress>

    <a id="d-link" href="{% url 'application' application.id %}" class="progress-bar-item">
        <div class="item-wrapper">
            <div id="d-icon-wrapper" class="progress-icon-wrapper ">
                <i class="fa-solid fa-ban  icon-color"></i>
            </div>
            <p>Declaration</p>
        </div>
    </a>

</div>


<script src="{% static 'mbasubmission\js\render-progress-bar.js' %}"></script>