{% load static %}
<link
      rel="stylesheet"
      href="{% static 'mbasubmission\styles\progress_bar.css' %}"
/>

<div class="progress-bar-container ">
        
    <a class="progress-bar-item">
        <div class="item-wrapper">
            <div class="progress-icon-wrapper item-complete">
                <i class="fa-solid fa-check icon-complete" ></i>
            </div>
            <p>Personal Details</p>
        </div>
    </a>

    <div class="progress-line line-complete"></div>

    <a class="progress-bar-item">
        <div class="item-wrapper">
            <div class="progress-icon-wrapper item-complete">
                <i class="fa-solid fa-check icon-complete" ></i>
            </div>
            <p>Sponsor Details</p>
        </div>
    </a>

    <div class="progress-line line-complete"></div>

    <a class="progress-bar-item">
        <div class="item-wrapper">
            <div class="progress-icon-wrapper item-complete">
                <i class="fa-solid fa-check icon-complete" ></i>
            </div>
            <p>Education Background</p>
        </div>
    </a>

    <div class="progress-line line-complete"></div>

    <a class="progress-bar-item">
        <div class="item-wrapper">
            <div class="progress-icon-wrapper item-current">
                <i class="fa-solid fa-pen-to-square icon-current"></i>
            </div>
            <p>Employment History</p>
        </div>
    </a>

    <div class="progress-line item-pending"></div>

    <a class="progress-bar-item">
        <div class="item-wrapper">
            <div class="progress-icon-wrapper item-pending">
                
            </div>
            <p>Declaration</p>
        </div>
    </a>

</div>