{% extends 'base_generic.html' %}

{% block content %}

<div style="background:white">
    <div class="container is-flex is-justify-content-center is-align-items-center " style="background:rgba(255, 255, 255,1);padding-top:1.5rem;padding-bottom:3rem">
    
        <div style="position: relative;">
            <div class="is-flex is-justify-content-center is-align-items-center" style="width:35px;height:35px;border-radius:50%;background:#127594">
                <i class="fa-solid fa-check" style="color:#fff"></i>
            </div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Personal Details
            </p>
        </div>

        <div style="width:400px;height:5px;background:#127594 "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Sponsor Details
            </p>
        </div>
        
        
    
      
        <div style="width:400px;height:5px;background:#9fd8ea "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Education Background
            </p>
        </div>


        <div style="width:400px;height:5px;background:#9fd8ea "></div>

        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:170px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Employment History
            </p>
        </div>
    
        
        <div style="width:400px;height:5px;background:#9fd8ea "></div>
    
        <div style="position: relative;">
            <div class="" style="width:35px;height:35px;border-radius:50%;background:#9fd8ea"></div>
            <p 
            style="position:absolute;
            background:#fff;
            min-width:150px;
            padding:10px;
            left:50%;
            transform:translateX(-50%);
            font-size:smaller;
            text-align:center"
            
            >
            Declaration
            </p>
        </div>
    </div>

</div>




<div class=" container mt-3">
    <div class="p-3 has-text-white is-size-6" style="background:#0e5165;border-top-left-radius:5px;border-top-right-radius:5px">Selected Qualification</div>
    <div class="columns m-0 has-background-light has-text-weight-semibold" style="border-bottom:1px solid rgba(0, 0, 0,0.2)">
        <div class="column is-three-fifths ">
            <div>Qualification</div>
        </div>
        <div class="column">Year</div>
        <div class="column">Start Date</div>
    </div>
    <div class="columns m-0 has-background-light">
        <div class="column is-three-fifths ">
            <div>Bachelor of Nursing - Acute Care Nursing - HBNA</div>
        </div>
        <div class="column">2024</div>
        <div class="column">01/01/2024</div>
    </div>
</div>
    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center">
    <span class="has-text-dark is-size-5">Application Form</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px">Get Help</button>
</div>



<div class="container has-background-light pb-1 " style="margin-bottom:50px">
   
    <div class="p-3  has-text-white mb-4" style="background:#0e5165">Sponsor Details</div>
    <p class="m-3 is-size-7" style="color:rgba(0, 0, 0,.6)">
        Please check the following details and make any changes as required. <br>
        Note: If you are sponsored, it is important that a sponsorship letter must be attached to this application.
    </p>
    <div class="mt-3 mr-3 ml-3 p-3 mb-0" style="background:#fff;border:1px solid rgba(0, 0, 0,.2); border-top-left-radius:5px;border-top-right-radius:5px">
        
        <div class="columns">
            <div class="column is-three-fifths">


                <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                        <label class="label">Sponsor Type</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                            <select>
                                <option selected>Please select</option>
                                <option>Private</option>
                                <option>Sponsored</option>
                                <option>Private with concession (staff)</option>
                            </select>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                        <label class="label has-text-weight-normal is-size-7 " style="color:#8d8d8d">Sponsorship letter </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                        <div class="control">
                            
                            
                                <div class="file has-name is-small">
                                    <label class="file-label">
                                      <input class="file-input" type="file" name="resume">
                                      <span class="file-cta">
                                        <span class="file-icon">
                                          <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                        browse file
                                        </span>
                                      </span>
                                      <span class="file-name">
                                        upload a sponsorship letter
                                      </span>
                                    </label>
                                  </div>

                            
                        </div>
                        </div>
                    </div>
                </div>



                

                
                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Sponsor Name</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="email" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Phone</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                
                <div class="field is-horizontal  ">
                    <div class="field-label is-normal">
                      <label class="label">Address</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="">
                        </div>
                      </div>
                    </div>
                </div>

                
               
                 
               
                
                  

            </div>
        </div>
       
        
        

    </div>


    <div class="has-background-light mb-3 mr-3 ml-3 mt-0 p-3 is-flex is-justify-content-center " style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
        <div class="field is-grouped ">

            <p class="control">
                <button class="button">
                  Exit
                </button>
              </p>
            <p class="control">
              <button class="button is-link">
                Next
              </button>
            </p>
           
            
          </div>
    </div>


</div>

{% endblock %}