.input {
    font-weight: bold;
    font-size: large;
    background-color: transparent;
}

.search-bar {
    border: 1px solid rgb(229, 229, 229) !important;
    border-radius: 0;
}

.input:focus {
    border: 2px solid rgb(255, 255, 255) !important;
    color: white;
}

input::placeholder {
    color: white !important;
    font-size: medium;
    font-weight: normal;
}

input:hover {
    border: 2px solid rgb(255, 255, 255) !important;
}

.button {
    font-size: large;
}

.button:hover, .button:focus {
    background: #1791b7 !important;
}

.course {
    border: 1px solid rgb(221, 221, 221);
    display: block;
    margin-bottom: 1em;
    border-radius: 5px;
}

.course:hover {
    border: 1px solid #126c88;
}