body {
    font-family: "Outfit", sans-serif;
    background: transparent;
  }
  
  main {
    position: relative;
  }
  
  .background {
    background-color: #ffffff;
    background-image: url('/static/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
  }
  
  .inner-background {
    z-index: -1;
    background:#e4e4e4;
    background-color: rgba(28, 99, 125,.7);
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }
  
  
  hr {
    
    background-image: linear-gradient(to right, #1b647e, #6586a0, #9eabc0, #d1d3df, #ffffff);
  }
  
  #submit-form {
    background: white;
    color: #8cc8ed;
    border: .5px solid #8cc8ed;
  }
  #submit-form:hover {
    background: #8cc8ed;
    color: white;
    font-weight: bold;
  
  }