{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Application for Admission</title>

<style type="text/css">

p.comment {
	background: yellow;
}

html {
	line-height: 150%;
}
.c1 {
	border-top-style: solid;
	border-top-width: 3px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	background-color: pink;
}
.c2 {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	margin-left: 20px;
}
.c3 {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	border-left-color: blue;
	border-bottom-color: magenta;
	border-right-width: 2px;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #ccc;
}
.b1 {
	padding: 0;
	margin:0;
	border: 1px solid blue;
}
.b2 {
	padding: 2;
	margin-bottom:5;
	border: 1px solid rgb(65, 65, 65);
}
.b3 {
	padding: 0;
	margin:0;
	background: #FFFF99;
}

.flex {
    display: flex;
    flex-direction: row;
}

.mb-5 {
    margin-bottom: 5;
}

</style>


</head>
<body>


<p><img src="{% static 'admission/img/sinu-logo.jpg' %}" align="right">

Student Academic Services (SAS) Office <br/>
PO BOX R113, Kukum Campus <br/>
Honiara, Solomon Islands Photo <br/>
TELEPHONE: +677 30111 Ext 266/220 <br/>
FACSIMILE: +677 30390 <br/>
EMAIL: sas@sinu.edu.sb <br/>
WEBSITE: www.sinu.edu.sb <br/>
</p>




<h1 class="comment">APPLICATION FOR ADMISSION <br/>
    (STUDENT DETAIL REGISTRATION)</h1>

<h2 class="b2" border="1" cellspacing="0" cellpadding="5">SECTION A: PERSONAL DETAILS</h2>
<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <td>TITLE*</td>
    <td>FIRST NAME*</td>
    <td>MIDDLE NAME*</td>
    <td>SURNAME*</td>
  </tr>
  <tr style="color: blue">
    <td>{{application.title}}</td>
    <td>{{application.first_name}}</td>
    <td>{{application.middle_name}}</td>
    <td>{{application.last_name}}</td>
  </tr>
</table>


<table class="mb-5" width="33%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <td style="margin-right:20px">DOB*</td>
      <td>GENDER*</td>
      <td>MARITAL STATUS*</td>
    </tr>
    <tr style="color: blue">
      <td>{{application.date_of_birth}}</td>
      <td>{{application.gender}}</td>
      <td>{{application.marital_status}}</td>
    </tr>
  </table>



<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <td>CONSTITUENCY*</td>
      <td>PROVINCE*</td>
      <td>WARD NAME*</td>
    </tr>
    <tr style="color: blue">
      <td>{{application.constituency}}</td>
      <td>{{application.province}}</td>
      <td>{{application.ward}}</td>
    </tr>
  </table>


  <table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <td>CITIZENSHIP*</td>
      <td>COUNTRY OF BIRTH*</td>
    </tr>
    <tr style="color: blue">
      <td>{{application.citizenship}}</td>
      <td>{{application.country_of_birth}}</td>
    </tr>
  </table>

  <table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <td>TELEPHONE*</td>
      <td>MOBILE PHONE*</td>
      <td>EMAIL ADDRESS*</td>
    </tr>
    <tr style="color: blue">
      <td>{{application.telephone_number}}</td>
      <td>{{application.mobile_phone_number}}</td>
      <td>{{application}}</td>
    </tr>
  </table>

  <table class="mb-5" width="50%" border="1" cellspacing="0" cellpadding="5">
    <tr>
      <td>Special Needs / Disability</td>
      <td style="color: blue">
        {% if application.has_special_needs %}
          yes
        {% else %}
          no
        {% endif %}
      </td>
    </tr>
    
  </table>


  <h2 class="b2" border="1" cellspacing="0" cellpadding="5">SECTION B: SPONSOR DETAILS</h2>
<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <td>SPONSOR NAME*</td>
    <td>SPONSOR ADDRESS*</td>
    <td>SPONSOR PHONE*</td>
    <td>SPONSOR EMAIL*</td>
    <td>SPONSOR TYPE*</td>
  </tr>
  <tr style="color: blue">
    <td>{{application.sponsor_name}}</td>
    <td>{{application.sponsor_address}}</td>
    <td>{{application.sponsor_phone_number}}</td>
    <td>{{application.sponsor_email}}</td>
    <td>{{application.sponsor_type}}</td>
  </tr>
</table>


<h2 class="b2" border="1" cellspacing="0" cellpadding="5">SECTION C: STUDENT EDUCATION BACKGROUND</h2>
<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <h4>Secondary & Pre-certificate</h4>
    <p>
        NOTE: You must attach Certified Academic Transcript and Certificates for highest Form reached. Current form 5, 6 and 7
    students need to get reference letter from your School's Careers Master and/or Principal. School based semester 1 results
    must be attached
      </p>
  <tr>
    <td>THIRD FORM*</td>
    <td>FIFTH FORM*</td>
    <td>SIXTH FORM*</td>
    <td>FOUNDATION*</td>
  </tr>
  <tr style="color: blue">
    <td>School: {{application.third_form_school}}<br/>Year: {{application.third_form_year}}</td>
    <td>School: {{application.fifth_form_school}}<br/>Year: {{application.fifth_form_year}}</td>
    <td>School: {{application.sixth_form_school}}<br/>Year: {{application.sixth_form_year}}</td>
    <td>School: {{application.foundation_school}}<br/>Year: {{application.foundation_year}}</td>
  </tr>
  
  
</table>


<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <h4>Tertiary Education</h4>
    <p>
        NOTE: You must attach all Certified Academic Transcript and Certificates for the Tertiary Qualification you attained.
      </p>
  <tr>
    <td>Institution</td>
    <td>Course</td>
    <td>Years Attended</td>
    <td>Major</td>
    <td>Date Graduated (if applicable)</td>
  </tr>

  {% for qualification in t_qualifications %}
  <tr style="color: blue">
    <td>{{qualification.institution_name}}</td>
    <td>{{qualification.course}}</td>
    <td>{{qualification.year_start}} - {{qualification.year_end}}</td>
    <td>{{qualification.major}}</td>
  </tr>
  {% endfor %}
  
</table>


<h2 class="b2" border="1" cellspacing="0" cellpadding="5">SECTION D: EMPLOYMENT HISTORY</h2>

<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <h4>Current Employment (If applicable)</h4>
  <tr>
    <td>Organization</td>
    <td>Title</td>
    <td>Start</td>
  </tr>
  <tr style="color: blue">
    <td>{{current_employment.firm}}</td>
    <td>{{current_employment.job_title}}</td>
    <td>{{current_employment.month_year_started}}</td>
  </tr>
</table>

<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <h4>Previous Employments </h4>
  <tr>
    <td>Organization</td>
    <td>Title</td>
    <td>Start</td>
    <td>End</td>
  </tr>
  {% for employment in previous_employments %}
  <tr style="color: blue">
    <td>{{employment.firm}}</td>
    <td>{{employment.job_title}}</td>
    <td>{{employment.month_year_started}}</td>
    <td>{{employment.month_year_ended}}</td>
  </tr>
  {% endfor %}
 
</table>

<h2 class="b2" border="1" cellspacing="0" cellpadding="5">SECTION E: DECLARATION</h2>

<table class="mb-5" width="100%" border="1" cellspacing="0" cellpadding="5">
    <p>
        I Declare that the information given in this application is complete and accurate to the best of my knowledge.
I acknowledge that the University reserves the right to deny my admission or cancel my registration if the above information
is incomplete and/or false.
      </p>
  <tr>
    <td>Declared</td>
    <td>Date Submitted</td>
  </tr>
  <tr style="color: blue">
    <td>{% if application.is_declared %} yes {% else %} no {% endif %}</td>
    <td>{{application.date_submitted}}</td>
  </tr>
</table>


</body>
</html>