{% extends 'admission/application/form-template.html' %}
{% load static %}  
{% load custom_filters %}

{% block progressbar %}
{% include 'admission/application/progress_bar.html' %}
{% endblock progressbar %}


{% block selected_qualification %}
  {% include 'admission/application/selected_qualification.html' %}
{% endblock selected_qualification %}

{% block section %}


<section>
  <h3 class="p-3  has-text-white " style="background:#004b8d">Declaration & Payment</h3>
  <div class="has-background-white p-4">

    <div class="light-blue-border-bottom bg-opaque-blue pb-4 mb-5 mt-3">

      <h3 class="has-text-white p-2 bg-light-blue"> Deposit Slip / TT </h3>
      <p class="p-3 pt-4 is-size-7 pb-1">
        Kindly submit a scanned copy of your $50.00 SBD deposit slip to SINU's Bank Account (See Details Below). If you are applying from outside the country, please provide documentation verifying your TT transaction.
      </p>
      <p class="p-3  pb-1 m-2 mt-0" style="background:#f7f7f7">
        <span class=" mr-3 is-size-7">
          Bank: <span class="ml-3 has-text-sinu-blue is-size-7 has-text-weight-bold">Bank of South Pacific (BSP)</span>
        </span>
        <span class=" mr-3 is-size-7">
          Account Number: <span class="has-text-sinu-blue is-size-7 has-text-weight-bold">9088870419</span>
        </span>
        <span class=" mr-3 is-size-7">
          Swift Code: <span class="has-text-sinu-blue is-size-7 has-text-weight-bold">BOSPSBSB</span>
        </span>
      </p>

      <div class="file has-name p-3">
        <label class="file-label">
          <input class="file-input" type="file" name="deposit_slip" accept=".doc, .docx, .pdf">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
            {% if application.deposit_slip %}
            {{ application.deposit_slip.name | filename }}  
            {% else %}
            ...
            {% endif %}
          </span>
        </label>
      </div>
      
    </div>



    <div class="light-blue-border-bottom bg-opaque-blue mb-5 mt-3">

      <h3 class="has-text-white p-2 bg-light-blue">
        Declaration 
      </h3>

      <label class="checkbox is-flex p-4">
        <input type="checkbox">
        <p class="ml-5 is-marginless" style="font-size:13px">
            I Declare that the information given in this application is complete and accurate to the best of my knowledge. <br> 
            I acknowledge that the University reserves the right to deny my admission or cancel my registration if the above information
            is incomplete and/or false.
        </p>
      </label>

    </div>

  </div>
</section>


<div class="has-background-light is-flex is-justify-content-center p-3" style="border:1px solid rgba(0, 0, 0,.2);border-top:none">
  <div class="field is-grouped ">
    {% include 'admission/application/save-and-exit-button.html' %}
    <p class="control">
      <input type="submit" class="button is-link" name="submit_application" value="Submit Application">
    </p>
  </div>
</div>


{% endblock section %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/help-modal.js' %}"></script>
  <script src="{% static 'admission/js/file-upload-listener.js' %}"></script>
{% endblock %} 