{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles\main.css' %}"
    />
    <title>MBA Submission - SINU</title>
  </head>
  <body>
    <div
      style=" background: #1b647e4d; height:100vh"
    >
      <main
        class="p-5"
        style=""
      >
        <section class="hero">
          <div class="hero-body">
            <div class="columns" style="min-height: 671px;">
              
              {% if application %}

                 <!-- Left Section START -->
                 <section class="column p-0" style="background: rgba(62, 36, 36, 0.5);background: rgba(27, 100, 126, .95);">
                  <div
                  style="height: 100%"
                  class="is-flex is-flex-direction-column is-justify-content-space-between p-5"
                >
                  <div>
                    <p class="title" style="color: #fff">Upload your Deposit Slip</p>
                    <p class="subtitle pt-5 has-text-white is-size-5 has-text-weight-normal" style="margin-bottom:10px">
                     This link will expire in 
                      <span class="has-text-weight-semibold "
                        >7 days</span
                      >.
                      
                    </p>
                    <hr />
                  </div>
                  
                  <div class="is-size-5 has-text-white">This page is generated for the application detailed below.</div>
                  <div class="p-3 has-text-white panel ">
                    <h5>Application ID: {{application.id}}</h5>
                    <h5>Applicant Name: {{application.full_name}}</h5>
                  </div> 
                
                  <div>
                    <hr />
                    <p class="p-4 has-text-white" style="background: #0e7093">
                      Upload your receipt, or provide an explanation if you have another payment
                      arrangement.
                    </p>
                  </div>
                </div>
                
                </section>
                <!-- Left Section END -->
                <!-- Right Section START -->
                <section class="column" style="background: rgba(62, 36, 36, 0.5);background: #1b647ecc;">
                 
                  <form class="p-4 has-text-white" style="background: #1d6f8dcc;">
                      {% csrf_token %}
                  
                  <h4 class="is-size-5  p-2 mb-3  pr-5" style="text-align:end; background:#1186b0; border-radius:10px">Option A </h4>
  
                  <div class="field mb-5">
                      <label class="label has-text-white has-text-weight-normal">Reciept No</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="Enter your Receipt Number">
                      </div>
                    </div>
  
  
                    <div class="field mb-5">
                      <label class="label has-text-white has-text-weight-normal">Date</label>
                      <div class="control">
                        <input class="input" type="date" placeholder="Text input">
                      </div>
                    </div>
  
                    
  
                    <div class="field mb-5">
                      <label class="label has-text-white has-text-weight-normal">Receipt Upload <span class="ml-5 has-text-weight-normal">( upload a scanned copy of your receipt )</span> </label>
                      <div class="file has-name is-fullwidth">
                          <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                file
                              </span>
                            </span>
                            <span class="file-name">
                              no file selected
                            </span>
                          </label>
                        </div>
                    </div>
                    
                   
                    <hr/>
                    <h4 class="is-size-5  p-2 mb-3  pr-5 " style="text-align:end; background:#1186b0;  border-radius:10px">Option B </h4>
                    
                    
                    
                    <div class="field mt-4">
                      <label class="label has-text-white has-text-weight-normal">If you have other payment arrangements with SINU, specify here. </label>
                      <div class="control">
                        <textarea class="textarea" placeholder="Provide explanation.."></textarea>
                      </div>
                    </div>
                    
                   <hr/>
                    
                    <div class="field is-grouped mt-5">
                      <div class="control">
                        <button class="button is-link has-text-weight-bold" style="background:#8cc8ed">Submit</button>
                      </div>
                   
                    </div>
                  </form>
  
                </section>
                <!-- Right Section END -->

              {%else%}

              

              <!-- Left Section START -->
              <section class="column p-0" style="background: rgba(62, 36, 36, 0.5);background: rgba(27, 100, 126, .95);">
                <div
                style="height: 100%"
                class="is-flex is-flex-direction-column is-justify-content-space-between p-5"
              >
                <div>
                  <p class="title" style="color: #fff">Oops!</p>
                  <p class="subtitle pt-5 has-text-white is-size-5 has-text-weight-normal" style="margin-bottom:10px">
                   We could not find a token that matches your application. This might be because this link has expired.
                 
                    
                  </p>
                  <hr />
                </div>
                
                <div class="is-size-5 has-text-white">
                  Send an email to admissions@sinu.edu.sb to reset your link.
                </div>
             
              
                <div>
                  <hr />
                  <p class="p-4 has-text-white" style="background: #0e7093">
                  
                  </p>
                </div>
              </div>
              
              </section>
              <!-- Left Section END -->
              <!-- Right Section START -->
              <section class="column" style="background: rgba(62, 36, 36, 0.5);background: #1b647ecc;">
               
                
                
            

              </section>
              <!-- Right Section END -->


              {%endif%}

           
            </div>
          </div>
        </section>
      </main>
    </div>

    {% include 'footer.html' %}

    <!-- Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
