
{% extends 'users/dashboard/dashboard_template.html' %}
{% load static %}

{% block dashboard %}
<div class="p-5 has-background-white" >
    
  


    <div class=" p-4 mt-4 has-background-white panel is-flex is-justify-content-space-between" >
        
      <div>
        <div class=" is-size-3 " >
          <span  style=" color: rgba(27, 100, 126);">Application ID:</span > 
            <span   style=" color: rgba(27, 100, 126);">{{application.id}}</span>
        </div>
        
        <div class=" pl-1 pr-1 ">
          <span style=" color: rgba(27, 100, 126);">Submmited:</span> 
          <span style=" color: rgba(27, 100, 126);">{{application.created}}</span>
        </div>
      </div>
     

        {% include 'users/application/application_status.html' %}

    </div>

    

    <hr style="background: rgba(27, 100, 126);">

    <div  class="">
      
      <!-- This block should be in a separate html like application_status.html -->

      {% include 'users/application/application_id.html' %}
      
        
        
      
     </div>

     
    
     <div class="tabs is-medium pt-4">
      <ul id="tabs">
        <li id="details_tab" class="is-active" onclick="change_application_tab(id)"><a>Application Details</a></li>
        <li id="payments_tab" class="" onclick="change_application_tab(id)"><a>Payments</a></li>
      </ul>
    </div>

    <section id="details-content"  style="border-radius:5px">
       {% include 'users/application/detail.html' %} 
    </section>

    <section id="payments-content" style="display:none;border-radius:5px">
       {% include 'users/application/payments.html' %} 
    </section>
     
    


    
    
</div>



<script src="{% static 'users/js/toggle-application-tab.js' %}"></script>
{% endblock %}

