{% load static %}

<div id="qualifications-container">
  <!-- qualifications will be rendered inside of this container -->
  
  {% for item in tertiary_qualifications %}
  {% include 'admission/application/sections/education_background/tertiary-institution.html' with item=item %}
  {% endfor %}

</div>

<button 
  id="add-qualification-btn"
  type="button"
  class=" ml-3 button is-light mt-3" 
  style="color:rgba(68, 68, 68,.8);border:1px solid rgba(68, 68, 68,.1)"
  >
  <span style="color:rgba(68, 68, 68,.8)">Add Qualification</span> 
  <i class="ml-3 fa-solid fa-plus"></i>
</button>



{% comment %} <script> const tertiaryQualifications = {{ tertiary_qualifications | safe }}; </script> {% endcomment %}
<script src="{% static 'admission/js/add-qualification.js' %}"></script>
