
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
  font-family: "Merriweather", serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  z-index: -100;
}

.bg-dark-blue {
  background-color: #113049;
}

.bg-sinu-blue {
  background-color: #004b8d;
}

.bg-light-blue {
  background-color: #1a79cc;
}

.light-blue-border-bottom {
  border-bottom: 1px solid #1a79cc;
}
.bg-white {
  background-color: #fff;
}

.bg-opaque-blue {
  background-color:rgba(0, 76, 143,.1);
}

/* main {
  position: relative;
  background-color: #202e34;
} */

/* .background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
} */


footer {
  position: fixed; 
  width:100%; 
  bottom: 0; 
  background:#004b8d;
  padding: 10px;
  padding-right: 30px;
  font-size: 11px;
}

/* hr {
  background-image: linear-gradient(to right, #1b647e, #6586a0, #9eabc0, #d1d3df, #ffffff);
}

#submit-form {
  background: white;
  color: #8cc8ed;
  border: .5px solid #8cc8ed;
}
#submit-form:hover {
  background: #8cc8ed;
  color: white;
  font-weight: bold;

} */

.login-details {
  background:#fff;
  border:1px solid rgba(0, 0, 0,.2); 
}

.help-button {
  background-color: #6da11f;
  border-radius: 4;
  border: unset;
  font-weight:normal;
}

.help-button i {
  font-weight: lighter;
}

.has-text-sinu-blue {
  color: #004b8d;
}

