

    <div style="background-color: #f0f0f0;">
        <div style="width: 600px; margin: 0 auto; height: fit-content; color: #4d4d4d; font-size: medium; background-color: white; padding-bottom: 30px;">
            <img src="https://f005.backblazeb2.com/file/images-sinu/email-header-img.png" style="margin-bottom: 40px;width:100%;" alt="header-img">
            <p style="padding: 10px; color:#4d4d4d;">Dear Mr {{applicant_name}}, </p>  
            <p style="padding: 10px; color:#4d4d4d;">Congratulations!</p>
            <p style="padding: 10px; color:#4d4d4d;">We are delighted to inform you that we are offering you a place on our <span style="color:#113049;font-weight:600">{{course_title}}</span> qualification program to the conditions outlined in the Offer Letter which is attached to this email.</p>
            <p style="padding: 10px; color:#4d4d4d;">Once you have read through your offer, please let us know if you need any further clarification or assistance. </p> 
            <p style="padding: 10px; color:#4d4d4d;">Kind Regards,</p> 
            <p style="padding: 10px; color:#4d4d4d;">
                Student Admissions Team <br>
                Solomon Islands National University <br>
                Applicant Enquiries: +677 42617
            </p> 
            <p style="padding: 10px; color:#4d4d4d;">
                Solomon Islands National University E-MAIL DISCLAIMER: The information transmitted in this e-mail and its 
                contents is intended only for the person or entity to which it is addressed and may contain 
                confidential and/or privileged material. If you are not the intended addressee you are prohibited 
                from storing, copying or using the information in any way. No liability is accepted by SINU for 
                any losses caused by viruses contracted during transit over the Internet or present in any 
                receiving systems.
            </p>
            <p style="color:#4d4d4d; border-top: 1px solid #e0e0e0;padding: 10px; padding-bottom: 5px; text-align:center;">
                +677 42600 | <a href="https://www.sinu.edu.sb" style="color: #4d4d4d;">www.sinu.edu.sb</a>
        </div>
    </div>
   
