{% extends 'base_generic.html' %}

{% block content %}


    

      <div class=" " style="background:#fff;">
        <div style="padding:1rem" class="container  is-flex is-justify-content-space-between"  >
            <div class="tabs " >
                <ul> 
                  <li><a class="" href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="{% url 'applications' %}">Admissions</a></li>
                </ul>
              </div>
        </div>

       

      </div>

      {% include 'breadcrumbs.html' %}

      

      
        <div class=" is-four-fifths has-background-white container" style="min-height:600px; margin-bottom:50px">
              {% block dashboard %}
              {% endblock %}
        </div>
       
      
   
      


{% endblock %}