{% extends 'base_generic.html' %}

{% load static %}
{% block content %}
      
        <div  >
             
            <div class="m-3">

                {% include 'admission/help/help-modal.html' %}
                <div class="mb-5 mt-5 is-flex is-justify-content-space-between is-align-items-center " style="background:#f7f7f7; padding:1.5rem; border-radius:5px">
                    <div>
                        <h2 class="is-size-3 " style="color:#004b8d">Admissions</h2>
                        <p>
                            Your applications and statuses are listed below.
                        </p>
                    </div>
                    <button id="help-modal-btn" class="button has-text-white help-button" >
                        <span class="has-text-white">Need Help</span> <i class="fa-regular fa-circle-question ml-2"></i>
                    </button>
                </div>

                <div >
                    <h2 class="has-text-white p-4" style="background:#004b8d;border-top-left-radius:5px;border-top-right-radius:5px">My applications</h2>
                    
                    <div class="p-5 has-background-white" style="box-shadow: 0 2px 3px rgba(179, 179, 179, 0.3);border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
                        
                        {% if applications %}
                            
                            {% for application in applications %}

                            <section class="  has-background-white" >

                            
                            <div style="background:#d6e3eb;padding:1em;border-radius:5px">
                                <div class="is-flex is-justify-content-space-between ">
                                    <div>
                                        <h1 >{{application.selected_course.title}}</h1>
                                    </div>
                                    <button id="app-toggle-{{application.id}}" onclick="toggle_expansion(id)" class="button">
                                        <span class="mr-2 has-text-dark">Click to expand/collapse</span> 
                                        <i class=" fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div style="padding:1em;border-top:none;box-shadow: 0 2px 3px rgba(179, 179, 179, 0.3)">
                                <div class="table-container" style="overflow-x:auto">
                                    

                                    <table class="table is-fullwidth">
                                        <thead>
                                          <tr>
                                            <th style="width:150px;">Year</th>
                                            <th style="width:150px;">Location</th>
                                            <th style="width:150px;">Period</th>
                                            <th style="width:150px;">Application Status</th>
                                            <th style="width:300px;"></th>
                                          </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                           
                                            <td style="width:150px">2024</td>
                                            <td style="width:150px">Kukum</td>
                                            <td style="width:150px">Semester 1</td>
                                            
                                            <td style="width:150px">{{application.application_status}}</td>
                                            <td style="width:300px !important">
                                                {% if application.application_status == 'draft' %}
                                                <div class=" ">
                                                    <a href="{{application.get_absolute_url}}" class="button is-link mr-2">Go Back to Application</a>
                                                    <a disabled class="button is-link">Cancel Application</a>
                                                </div>
                                                {%endif%}
                                            </td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    


                                </div>
                            </div>

                            </section>

                            {% endfor %}

                        {% else %}
                        <span class="has-text-dark">You have no active applications</span>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
       
      
   
      

{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/toggle-expansion.js' %}"></script>
<script src="{% static 'js/help-modal.js' %}"></script>
{% endblock scripts %}