

{% if application.application_state == 'PENDING' %}

  {% if group == "Student Administration Services (SAS) Department" %}

    {% if application.student_id %}
      <form class="is-flex" method="post">
        {% csrf_token %}
        <p class="control m-3" >
          <input hidden name="action" value="proceed_to_assessment"  />
          <button id="#proceed-assessment-button"  type="submit" class="button is-success">
            Proceed To Assessment
          </button>
        </p>
      </form>
    {% else %}
      <p class="control m-3">
        <span class="has-textweight-semibold mr-3 has-text-white has-background-primary p-1 ">Generate Student ID</span>
      </p>
        
    {% endif %}
      
 
      
  {% else %}

  {% if application.student_id %}
  <p class="control m-3">
    <span class="has-textweight-semibold mr-3">STATUS: </span><span> Ready for Assessment</span>
  </p>
  {% else %}
  <p class="control m-3">
    <span class="has-textweight-semibold mr-3">STATUS: </span><span> Pending Entry into TechOne SMS</span>
  </p>
  {%endif %}
    

  {% endif %}


{% elif application.application_state == 'UNDER_ASSESSMENT' %}

{% if group == "Assesors" %}
      
    <form class="is-flex" method="post">
      {% csrf_token %}
      <p class="control m-3" >
        <button name="action" value="accept_application" class="button  is-small is-success has-text-weight-semibold">
         Accept
        </button>
        <button class="button is-small is-danger has-text-weight-semibold">
          Decline
         </button>
      </p>

    </form>
      
  {% else %}

    <p class="control m-3">
      <span class="has-textweight-semibold mr-3">STATUS: </span><span> Under Assessment</span>
    </p>

  {% endif %}

{% elif application.application_state == 'OFFER_LETTER_ISSUED' %}

{% if group == "Finance Department" %}
    
    <form class="is-flex" method="post">
      {% csrf_token %}
      <p class="control m-3" >
        <input hidden name="action" value="clear_for_enrolment"  />
        <button type="submit" class="button is-success">
          Clear For Enrolment
        </button>
      </p>

    </form>
  {% else %}

    <p class="control m-3">
      <span class="has-textweight-semibold mr-3 is-italic">STATUS: </span><span>Provisional Offer Letter and Invoice sent to Applicant, pending clearance from Finance Department</span>
    </p>

  {% endif %}

{% elif application.application_state == 'CLEARED_FOR_ENROLLMENT' %}

{% if group == 'Student Administration Services (SAS) Department' %}
    
<form class="is-flex" method="post">
  {% csrf_token %}
  <p class="control m-3" >
    <input hidden name="action" value="confirm_enrolment"  />
    <button type="submit" class="button is-success">
      Confirm Enrolment
    </button>
  </p>

</form>
     
{% else %}

  <p class="control m-3">
    <span class="has-textweight-semibold mr-3">STATUS: </span><span> Pending Enrolment Confirmation</span>
  </p>

{% endif %}

{% elif application.application_state == 'ENROLLMENT_COMPLETE' %}

<p class="control m-3 is-size-6">
  <span class="has-textweight-bold mr-3 has-text-link">STATUS: </span><span class="has-text-link"> COMPLETE</span>
</p>

{% else %}
<p>Theres a problem</p>
{% endif %}



