{% extends 'users/dashboard_template.html' %}

{% block dashboard %}
<div class="p-5 ">

    <div class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless is-size-6 has-text-weight-bold" style="color:#3c3b3b">
           
             <span>Application ID</span> 
          </span>
        <span class="column has-text-weight-bold">Name</span>
        <span class="column has-text-weight-bold">Email</span>
        <span class="column has-text-weight-bold">Phone Number</span>
        <span class="column has-text-weight-bold">Submmited </span>
    </div>
    
    <a href= "{% url 'application-detail' %}" class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

    <a class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

    <a class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

    <a class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

    <a class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

    <a class="panel-block columns is-paddingless is-marginless">
        <span class="panel-icon column is-paddingless" >
            <i class="fas fa-book mr-2" aria-hidden="true"></i>
                <span>24552323</span> 
            </span>
        <span class="column">Patrick Loloma</span>
        <span class="column">patrick.loloma@sinu.edu.sb</span>
        <span class="column">7933329</span>
        <span class="column">20-03-2023 10:45pm </span>
    </a>

</div>

  {% endblock %}