{% extends 'users/dashboard_template.html' %}

{% block dashboard %}
<div class="p-5">
    <div class="columns">
        <div class="column"><span>Application ID:</span> <span>{{application.id}}</span></div>
        <div class="column"><span>Submmited:</span> <span>{{application.created}}</span></div>
    </div>
    <hr>
    <p class="has-text-weight-bold mb-5">Personal Details</p>
    <div class="columns">
        <div class="column">
            <span class="has-text-weight-semibold">Given Names </span> <br> {{application.first_name}}
        </div>

        <div class="column">
            <span class="has-text-weight-semibold"> Surname </span> <br> {{application.last_name}}
        </div>

        <div class="column">
            <span class="has-text-weight-semibold"> Email </span> <br> {{application.email}}
        </div>

        <div class="column">
            <span class="has-text-weight-semibold"> Phone Number </span> <br> {{application.email}}
        </div>

        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-2by2">
                    <img src="{{application.photo.url}}" alt="photo">
                  </figure>
                </div>
              </div>
        </div>
        
    </div>

    <hr>

    <p class="has-text-weight-bold mb-5">Proposal</p>
    <div class="columns">
        <div class="column">
            <p class="has-background-white p-4">
              {{application.proposal}}
            </p>
        </div>
    </div>

    <hr>

    <p class="has-text-weight-bold mb-5">Documents</p>
    <div>

        {% if documents %}
          {% for document in documents %}
          <a href="{{document.file.url}}" target="_blank" >{{document}}<i class="ml-2 fa-solid fa-file-pdf"></i></a>
          {% endfor %}
        {% else %}
          <span>no documents uploaded</span>
        {%endif%}
       
        
    </div>
    <hr>

    
    <div class="field is-flex is-flex-direction-row-reverse pb-5" style="border-bottom: 3px solid rgb(200, 200, 200)">
    {% if perms.mbasubmission.change_application %}
    
        <form>
          <p class="control m-3" >
            <button class="button is-success">
              ACCEPT
            </button>
          </p>
          
          <p class="control m-3">
            <button class="button is-danger">
              REJECT
            </button>
          </p>
        </form>
     
    {% else %}

     {% include 'users/application_status.html' %}
    
    {% endif %}
    </div>

    
</div>
{% endblock %}