{% extends 'user_base.html' %}

{% block dashboardcontent %}


    

      <div class="container mt-4 mb-3">
        <div class=" mb-1  is-flex is-justify-content-space-between" style="background:#fff">
            <div class="tabs " style="margin-bottom: 0;">
                <ul> 
                  <li><a class="is-size-5" href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="{% url 'applications' %}">Applications</a></li>
                </ul>
              </div>
        </div>

        {% include 'breadcrumbs.html' %}

      </div>

      

      
        <div class=" is-four-fifths has-background-white container" style="min-height:600px; margin-bottom:50px">
              {% block dashboard %}
              {% endblock %}
        </div>
       
      
   
      


{% endblock %}