{% extends 'base_generic.html' %}


{% load static %}
{%block content %}

{% include 'admission/help/help-modal.html' %}

<main class="container">

  

  <div class="p-4 is-flex is-justify-content-space-between is-align-items-center mt-5 mb-5 has-background-white" >
    <h2 class="is-size-5">Sign into the Portal</h2>
    <button id="help-modal-btn" class="button has-text-white help-button" >
      <span class="has-text-white">Need Help</span> <i class="fa-regular fa-circle-question ml-2"></i>
    </button>
  </div>

  <form method="POST" class="" style="">
    {% csrf_token %} 
    <h2 class=" has-text-white p-3 bg-sinu-blue">Admissions Portal: Password Reset</h2>
      <div class="has-background-white p-3">
        <p  style="font-size: .9em;color:hwb(0 49% 51%);line-height:1.9em" >
            Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one. <br>
        </p>
        <hr class="mb-4" style="background:#e5e5e5">
        
        <div class="field">
            <p class="control has-icons-left has-icons-right" >
              <input class="input" type="email" placeholder="Email" name="email" required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
        </div>


        <div class="columns">

            <div class="column">
                <button type="submit" style="background:#127594" class="button has-text-white   is-fullwidth  has-text-weight-semibold">Reset my password</button>
            </div>
        
        </div>
        
          
      </div>
      
  </form>

  <p class="mt-5 p-3 pt-5 pb-5 bg-sinu-blue has-text-white">
    Haven't found a program yet? Go to our <a class="has-text-white" style="text-decoration:underline" href="{% url 'course-search' %}">Course Finder</a>.
  </p>

</main>

{%endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/help-modal.js' %}"></script>
{% endblock %} 