<h3 style="color:#10cfc9">SINU Admissions Portal: Password Reset</h3>


<p>Hello {{ user.username }},</p>
<p>You're receiving this email because you requested a password reset for your user account.</p>
<p>Please go to the following page and choose a new password:</p>
<p>
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
</p>
<p>Your username, in case you’ve forgotten: {{ user.email }}</p>


<p>
    If you have any queries, please do not hesitate to call us on +677 42617.     
</p>

<p>Admissions Portal</p>
<p>Solomon Islands National University</p>