   <!-- STAGE FILTERS -->
   <aside class=" is-inline-block menu has-background-light" >
    <p class="menu-label   pb-2 pt-2 pl-2  ">
      Primary Filters
    </p>
    <ul class="menu-list " >
      <li><a class="is-size-6 ">Pending</a></li>
      <li><a class="is-size-6">Cleared For Enrolment</a></li>
    </ul>
    <p class="menu-label has-background-light pb-2 pt-2 pl-2 ">
        Other filters
      </p>
      <ul class="menu-list has-background-light mb-2">
        <li ><a class="is-size-6">All</a></li>
        <li><a class="is-size-6">Under Assesment</a></li>
        <li><a class="is-size-6">Offer Letter Issued</a></li>
        <li><a class="is-size-6">Enrolment Complete</a></li>
      </ul>
  </aside>
  <!-- STAGE FILTERS -->