{% extends 'base_generic.html' %}
{% load static %}

{%block navbar %}
{% include 'navbar.html' with title='Course Finder' %}
{%endblock navbar %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'courses\styles\courses.css' %}">
{% endblock styles %}

{% block content %}



<section class="pt-6 pb-6" style="background-color: #102b41;">
    <div class="container">
        <h1 class="p-2 has-text-centered-mobile has-text-left-tablet has-text-white is-size-5 has-text-weight-bold mb-4">
            <span class="is-size-5 has-text-white ">Find a course</span>
        </h1>
    
        <div class="bg-sinu-blue p-3 " >

            
            
            <form class="columns is-fullhd  mt-5 mb-5 ml-3 mr-3"  method="get">
                <div class="column is-four-fifths">
                    <input  class="input search-bar" name="search" value="{{search}}" type="text" placeholder="Search for a course by name or course code." >
                </div>
                <div class="column">
                    <button class="input button has-text-weight-semibold  has-text-white" type="submit" value="Search" style="background:#127594;border:none">
                        <span class="has-text-white">Search</span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</section>


<section class="container mt-5 p-3">
    
    {% if search %}
    <div class="">

        {% if courses %}
        <div class="mb-4 is-size-6 is-flex is-justify-content-end is-align-items-center has-text-white">
            <h4 class="mr-2" style="font-weight:bold">Results: </h4>
            <p> {{first_index}} - {{last_index}} of {{courses_total}} results for <span class="ml-2 has-text-weight-bold ">'{{search}}'</span></p>
        </div>
        {% endif %}
      

        <div class="is-marginless  " style="margin-bottom:3rem;padding:2rem; border-radius:5px;background:rgb(236, 236, 236)">

            {% if courses %}

            {% for course in courses %}
            <a href="{{course.get_absolute_url}}" class="course">
                <div class="" style="position:relative;">  
                    <div style="width:10px;height:100%;background:#0e5165;position:absolute"></div>

                    <div style="border-radius:5px;padding:1.5rem;background:rgb(243, 243, 243);">
                        <h2 class="is-size-5 mb-4 p-1 pb-3 " style="border-bottom: 1px solid #127594;color:#127594;margin-bottom:10px;">{{course.title}} - {{course.code}}</h2>
                        <p style="margin-bottom:.3em;font-size:small;"><span style="font-weight:bold;margin-right:15px;color:#212121">Time to complete</span><span  style="color:#212121" >{{course.duration_length}} {{course.duration_type}}s full time.</span></p>
                        <p style="margin-bottom:.3em;font-size:small;"><span style="font-weight:bold;margin-right:15px;color:#212121">Credits</span><span style="color:#212121" >{{course.credit_points}}</span></p>
                        <p style="font-size:small;"><span style="font-weight:bold;margin-right:15px;color:#212121">Location</span><span style="color:#212121" >{{course.campus}} Campus</span></p>
                    </div>
                    
                </div>
            </a>
            {% endfor %}
            
            {% else %}
            <p class="">No Results Found</p>
            {% endif %}

        </div>

        {% if courses %}
        {% include 'courses/pagination.html' with queryset=courses custom_range=custom_range %}
        {% endif %}

       

    </div>
    {% else %}
    <div class=" has-text-light">
        <p class="is-size-6">You have not searched for anything yet.</p>
    </div>
    {% endif %}

</section>


{% endblock %}
