{% extends 'base_generic.html' %}

{% block content %}







    
<div class="container is-flex is-justify-content-space-between mt-5 has-background-light p-3 is-align-items-center" style="border-radius:5px">
    <span class="has-text-dark is-size-5">System Message</span>
    <button class="button has-text-white" style="background: #6da11f;border-radius:5px;border:none">
        <i class="fa-solid fa-circle-question mr-2"></i>
        Get Help
    </button>
</div>



<div class="container has-background-light pb-1 mt-5" style="border:1px solid #983222;margin-bottom:50px;border-radius:5px">
   
    <div class="p-3   mb-4" style="background:#f2cdc7;color:#983222;border-top-left-radius:5px;border-top-right-radius:5px">System Logout</div>
    <p class="m-3 is-size-6 p-2" style="color:rgba(0, 0, 0,.6)">
        

        For security reasons, you have been automatically logged out of the portal. Please sign into the <a href="">Portal</a>. 

    </p>
    


    


</div>


{% endblock %}