
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body {
  font-family: "Merriweather", serif;
  background: transparent;
}

main {
  position: relative;
  background-color: #202e34;
}

.background {
  /* background-color: #542424; */
  /* background-image: url('/static/images/bg.jpg'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
}




hr {
  
  background-image: linear-gradient(to right, #1b647e, #6586a0, #9eabc0, #d1d3df, #ffffff);
}

#submit-form {
  background: white;
  color: #8cc8ed;
  border: .5px solid #8cc8ed;
}
#submit-form:hover {
  background: #8cc8ed;
  color: white;
  font-weight: bold;

}