<div id="items-container">

    {% for item in previous_employments %}
    
    {% include 'admission/application/sections/employment_history/previous-employment-item.html' with item=item %}

    {% endfor %}

  </div>
    

  <button 
    id="add-prevemp-btn"
    type="button"
    class=" button is-light mt-3" 
    style="color:rgba(68, 68, 68,.8);border:1px solid rgba(68, 68, 68,.1)"
  >
    <span style="color:rgba(68, 68, 68,.8)">Add Previous Employment</span> 
    <i class="ml-3 fa-solid fa-plus"></i>
  </button>