{% load static %}
<!-- Personal Details START -->
<div class="border is-primary p-3 is-rounded" style="background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Personal Details</p>

    <div class="columns">

      <div class="column ">  
        <div class="is-flex">

          <div class="select is-small mr-4" style="width:100px">
           {{application_form.title}}
          </div>
            
      
        </div>
      </div>

      
      
        <div class="column">
            <div class="control mb-2 has-text-dark has-icons-right">
              {{application_form.first_name}}
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
        </div>
        <div class="column">
            <div class="control mb-2 has-icons-right">
              {{application_form.middle_name}}
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
        </div>
        <div class="column">
            <div class="control has-icons-right  mb-2">
              {{application_form.last_name}}
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
               
            </div>
        </div>
    </div>

   
    <div class="columns">
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                {{application_form.email}}
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
        </div>
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                {{application_form.phone_number}}
                <span class="icon is-small is-left">
                  <i class="fa-solid fa-mobile"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div> 
        </div>
    </div>

    <div class="columns">
     
      <div class="column">
        <div class="field ">
         
          <label class=" has-textweight-light is-size-7">Date of Birth</label>
          <div class="control">
            {{application_form.date_of_birth}}
          </div>
        </div>
        
      </div>

      <div class="column">
        <div class="field ">
         
          <label class=" has-textweight-light is-size-7">Gender</label>
          <div class="control">
            
            <div class="select is-small" >
              {{application_form.gender}}
            </div>
          </div>
        </div>
       
      </div>

    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label  is-size-7 has-text-weight-normal">Name of Employee</label>
          <div class="control">
            {{application_form.employer}}
          </div>
        </div>
        
      </div>
      <div class="column">
        <div class="field">
          <label class="label is-size-7  has-text-weight-normal">Job Title</label>
          <div class="control">
            {{application_form.job_title}}
          </div>
        </div>
        
      </div>
    </div>

    <div class="columns">
        <div class="column is-four-fifths">
            <div class="file is-small has-name mb-2">
                <label class="file-label">
                 
                  {{application_form.photo}}
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload a photo
                    </span>
                  </span>
                  <span id="img-name" class="file-name has-text-weight-light">
                    no image selected
                  </span>
                </label>
              </div>
        </div>
    </div> 
</div>
<!-- Personal Details START -->


<!-- Documents START -->
<div class="border is-primary p-3" style="margin-top:5px;background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Upload your documents</p>
    <div class="columns">
        <div class="column">
            {% include 'mbasubmission/right-section/document_forms.html' %}
        </div>
    </div>
</div>
<!-- Documents END -->



 <!--  Proposal START -->
<div class="border is-primary p-3" style="margin-top:5px;background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Proposal</p>
    <div class="columns">
        <div class="column">
            <div class="field">
            <div class="control">
                
                {{application_form.proposal}}
            </div>
            </div>
        </div>
    </div> 
</div>
<!-- Proposal END -->

<script src="{% static 'mbasubmission/js/photo-name-update.js' %}"></script>


