<!-- Personal Details START -->
<div class="border is-primary p-3 is-rounded" style="background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Personal Details</p>

    <div class="columns">

      <div class="column ">  
        <div class="is-flex">

          <div class="select is-small mr-4" >
            <select style="min-width:100px">
              <option  selected>Title</option>
              <option>Mr</option>
              <option>Mrs</option>
              <option>Ms</option>
              <option>Dr</option>
            </select>
          </div>
            
      
        </div>
      </div>

      
      
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2 has-text-dark">
                <input class="input is-small" type="text" placeholder="First Name ">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                <input class="input is-small" type="text" placeholder="Middle Name ">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                <input class="input is-small" type="text" placeholder="Surname">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
    </div>

   
    <div class="columns">
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                <input class="input is-small" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
        </div>
        <div class="column">
            <div class="control has-icons-left has-icons-right mb-2">
                <input class="input is-small" type="number" placeholder="Phone Number">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div> 
        </div>
    </div>

    <div class="columns">
     
      <div class="column">
        <div class="field ">
         
          <label class=" has-textweight-light is-size-7">Date of Birth</label>
          <div class="control">
            
            <input class="input is-small" type="date" placeholder="YYYY-MM-DD">
          </div>
        </div>
        
      </div>

      <div class="column">
        <div class="field ">
         
          <label class=" has-textweight-light is-size-7">Gender</label>
          <div class="control">
            
            <div class="select is-small" >
              <select style="min-width:200px">
                <option selected></option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
        </div>
       
      </div>

    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label  is-size-7">Name of Employee</label>
          <div class="control">
            <input class="input" type="text" placeholder="Enter name here">
          </div>
        </div>
        
      </div>
      <div class="column">
        <div class="field">
          <label class="label is-size-7">Job Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Enter name here">
          </div>
        </div>
        
      </div>
    </div>

    <div class="columns">
        <div class="column is-four-fifths">
            <div class="file is-small has-name mb-2">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload a photo
                    </span>
                  </span>
                  <span class="file-name">
                    photo.jpg
                  </span>
                </label>
              </div>
        </div>
    </div> 
</div>
<!-- Personal Details START -->


<!-- Documents START -->
<div class="border is-primary p-3" style="margin-top:5px;background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Upload your documents</p>
    <div class="columns">
        <div class="column">
            {% include 'mbasubmission/right-section/document_forms.html' %}
        </div>
    </div>
</div>
<!-- Documents END -->



 <!--  Proposal START -->
<div class="border is-primary p-3" style="margin-top:5px;background:#f1f4f6">
    <p class=" is-size-5 mb-3" style="color:#294a70">Proposal</p>
    <div class="columns">
        <div class="column">
            <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Write proposal Here (1000 words)"></textarea>
            </div>
            </div>
        </div>
    </div> 
</div>
<!-- Proposal END -->


